{% extends "base.html" %}
{% block content %}

    <div class="col-md-7 col-lg-8">

        <h3 class="mb-3 text-success">Добавление нового банка</h3>
        <form class="post-form" action="/add_bank" method="POST">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col-sm-6">
                    <label for="full_name" class="form-label text-success">Полное наименование</label>
                    {{ form.full_name }}
                    <small id="fullnameHelp" class="form-text text-muted">Полное наименование банка</small>
                </div>
                <div class="col-sm-6">
                    <label for="short_name" class="form-label text-success">Краткое наименование</label>
                    {{ form.short_name }}
                    <small id="shortnameHelp" class="form-text text-muted">Краткое наименование банка</small>
                </div>
                <div class="col-sm-12">
                    <label for="bik" class="form-label text-success">БИК></label>
                    {{ form.bik }}
                    <small id="bikHelp" class="form-text text-muted">БИК банка</small>
                </div>
                <hr class="my-4">
                <button class="w-100 btn btn-success btn-lg" type="submit">Добавить банк</button>
            </div>
        </form>
    </div>

{% endblock content %}