{% extends "base.html" %}
{% block content %}

    <h2 class="mt-2 mb-4">Банки</h2>

    <div class="col-md-12">

        <button type="button" id="create_bank_action"
                class="btn btn-success btn-sm"
                data-form-url="{% url 'create_bank' %}"><i class="bi-plus-circle"></i> Создать
        </button>

        <div class="table-responsive">
            <table id="banks" class="display table table-light" width="100%">
                <thead>

                <th><input type="checkbox" id="checkall"/></th>
                <th>ID</th>
                <th>Имя</th>
                <th>Активность</th>
                <th>БИК</th>
                <th>Дата создания</th>
                <th>Операции</th>


                </thead>

                <tbody>

                {% for bank in banks %}
                    <tr>
                        <td><input type="checkbox" class="checkthis"/></td>
                        <td>{{ bank.id }}</td>
                        <td>{{ bank.short_name }}</td>
                        <td>{{ bank.bik }}</td>
                        <td>{{ bank.active }}</td>
                        <td>{{ bank.created }}</td>
                        <td>
                            <button type="button"
                                    class="update_modal_action btn btn-success btn-sm"
                                    data-form-url="{% url 'edit_bank' bank.pk %}"><i class="bi-pencil"></i></button>
                            <button type="button"
                                    class="delete_modal_action btn btn-dark btn-sm"
                                    data-form-url="{% url 'delete_bank' bank.pk %}"><i class="bi-trash"></i>
                            </button>
                        </td>


                    </tr>
                {% endfor %}

                </tbody>

            </table>
        </div>

    </div>
{% endblock content %}