{% extends "base.html" %}
{% block content %}

    <div class="col-md-7 col-lg-8">
        <hr class="my-4">
        <h3 class="mb-3 text-success">Добавление новой квартиры</h3>
        <hr class="my-4">
        <form id="apartment_form" class="post-form" action="/add_apartment" method="POST">
            {% csrf_token %}


            <div class="row g-3">

                <div class="col-sm-12">
                    <label for="developer" class="form-label text-success">Застройщик</label>
                    {{ form.developer }}
                </div>

                <div class="col-sm-4">
                    <label for="corpus" class="form-label text-success">Корпус</label>
                    {{ form.corpus }}
                </div>

                <div class="col-sm-4">
                    <label for="area" class="form-label text-success">Площадь, м<sup>2</sup></label>
                    {{ form.area }}
                </div>

                <div class="col-sm-4">
                    <label for="floor_overall" class="form-label text-success">Этажность</label>
                    {{ form.floor_overall }}
                </div>

                <div class="col-sm-12">
                    <label for="adversary_source" class="form-label text-success">Реклама</label>
                    {{ form.adversary_source }}
                    <small id="adversary_sourceHelp" class="form-text text-muted">Источник</small>
                </div>

                <div class="col-sm-12">
                    <label for="deal_price" class="form-label text-success">Цена сделки</label>
                    {{ form.deal_price }}
                </div>

                <div class="col-sm-12">
                    <label for="bank" class="form-label text-success">Банк</label>
                    {{ form.bank }}
                    <small id="bankHelp" class="form-text text-muted">В каком банке обременение</small>
                </div>

                <div class="col-sm-4">
                    <label for="full_sum_in_contract" class="form-label text-success">Полная сумма в договоре</label>
                    {{ form.full_sum_in_contract }}
                    <small id="fullsumHelp" class="form-text text-muted">Цена, которую хочет на руки продавец</small>
                </div>

                <div class="col-sm-4">
                    <label for="merchant" class="form-label text-success">Продавец</label>
                    {{ form.merchant }}
                </div>

                <div class="col-sm-4">
                    <label for="internal_number" class="form-label text-success">Внутренний номер</label>
                    {{ form.internal_number }}
                </div>

                <div class="col-sm-12">
                    <label for="start_sale_date" class="form-label text-success">Дата выставления на продажу</label>
                    {{ form.start_sale_date }}
                </div>

                <div class="col-sm-12">
                    <label for="residential_complex" class="form-label text-success">Жилой комплекс</label>
                    {{ form.residential_complex }}
                </div>

                <div class="col-sm-6">
                    <label for="section" class="form-label text-success">Секция</label>
                    {{ form.section }}
                </div>

                <div class="col-sm-6">
                    <label for="kitchen" class="form-label text-success">Кухня, м<sup>2</sup></label>
                    {{ form.kitchen }}
                </div>

                <div class="col-sm-12">
                    <label for="fact_price_on_hands" class="form-label text-success">Цена на руки</label>
                    {{ form.fact_price_on_hands }}
                    <small id="factpriceHelp" class="form-text text-muted">Цена на руки продавцу</small>
                </div>

                <div class="col-sm-12">
                    <label for="commission" class="form-label text-success">Комиссия, %</label>
                    {{ form.commission }}
                    <small id="commissionHelp" class="form-text text-muted">Залог, цена бронирования</small>
                </div>

                <div class="col-sm-12">
                    <label for="concession" class="form-label text-success">Уступка, руб.</label>
                    {{ form.concession }}
                    <small id="concHelp" class="form-text text-muted">Нужно ли платить за согласие застройщика</small>
                </div>

                <div class="col-sm-12">
                    <label for="remainder" class="form-label text-success">Остаток, руб.</label>
                    {{ form.remainder }}
                    <small id="fullNameHelp" class="form-text text-muted">Остаток по ипотеке при обременении</small>
                </div>

                <div class="col-sm-12">
                    <label for="compensation_payer" class="form-label text-success">Оплата налога</label>
                    {{ form.compensation_payer }}
                    <small id="compensationHelp" class="form-text text-muted">Кто платит налог при полной цене</small>
                </div>

                <div class="col-sm-12">
                    <label for="works_with_agent" class="form-label text-success">С агентом</label>
                    {{ form.works_with_agent }}
                </div>

                <div class="col-sm-12">
                    <label for="creator" class="form-label text-success">Пользователь, добавивший квартиру</label>
                    {{ form.creator }}
                    <small id="creatorHelp" class="form-text text-muted">Кто добавил квартиру в базу</small>
                </div>

                <div class="col-sm-4">
                    <label for="queue_number" class="form-label text-success">Номер очереди</label>
                    {{ form.queue_number }}
                </div>

                <div class="col-sm-4">
                    <label for="number_of_rooms" class="form-label text-success">Количество комнат</label>
                    {{ form.number_of_rooms }}
                </div>

                <div class="col-sm-4">
                    <label for="floor" class="form-label text-success">Этаж</label>
                    {{ form.floor }}
                </div>

                <div class="col-sm-12">
                    <label for="contract_price" class="form-label text-success">Цена в договоре</label>
                    {{ form.contract_price }}
                    <small id="ctrctpHelp" class="form-text text-muted">Цена в ДДУ, по которой покупал продавец</small>
                </div>

                <div class="col-sm-12">
                    <label for="sub_agent_commission" class="form-label text-success">Комиссия субагенту</label>
                    {{ form.sub_agent_commission }}
                    <small id="sacomissHelp" class="form-text text-muted">Вознаграждение</small>
                </div>

                <div class="col-sm-6">
                    <label for="mortgage_fit" class="form-label text-success">Ипотека</label>
                    {{ form.mortgage_fit }}
                    <small id="mortfitHelp" class="form-text text-muted">Подходит ли под ипотеку</small>
                </div>

                <div class="col-sm-6">
                    <label for="seller_payed_for_mortgage" class="form-label text-success">Оплата ипотеки</label>
                    {{ form.seller_payed_for_mortgage }}
                    <small id="paymortHelp" class="form-text text-muted">Может ли продавец досрочно погасить</small>
                </div>

                <div class="col-sm-12">
                    <label for="documents" class="form-label text-success">Документы</label>
                    {{ form.documents }}
                    <small id="docsHelp" class="form-text text-muted">Есть ли документы по квартире</small>
                </div>

                <div class="col-sm-12">
                    <label for="goal" class="form-label text-success">Цель продажи</label>
                    {{ form.goal }}
                </div>

                <div class="col-sm-12">
                    <label for="basePrice" class="form-label text-success">Базовая цена</label>
                    {{ form.base_price }}
                </div>

                <div class="col-sm-12">
                    <label for="contract_type" class="form-label text-success">Тип договора</label>
                    {{ form.contract_type }}
                </div>

                <div class="col-sm-6">
                    <label for="deadline" class="form-label text-success">Срок сдачи</label>
                    {{ form.deadline }}
                </div>

                <div class="col-sm-6">
                    <label for="actualization_date" class="form-label text-success">Дата актуализации</label>
                    {{ form.actualization_date }}
                </div>

                <div class="col-sm-12">
                    <label for="photo" class="form-label text-success">Фото квартиры</label>
                    {{ form.photo }}
                </div>

                <div class="col-sm-12">
                    <label for="plan" class="form-label text-success">План квартиры</label>
                    {{ form.plan }}
                </div>

                <div class="col-sm-12">
                    <label for="features" class="form-label text-success">Особенности</label>
                    {{ form.features }}
                </div>

                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.name }}{{ field.errors }}
                    </div>
                {% endfor %}

                <button class="w-100 btn btn-success btn-lg" type="submit">Добавить квартиру</button>

            </div>
        </form>
    </div>

{% endblock content %}