{% extends "base.html" %}
{% load mathfilters %}
{% load render_table from django_tables2 %}
{% load bootstrap5 %}

{% block content %}
    <style>
        th {
            font-size: 0.8em;
        }

        td {
            font-size: 0.8em;
        }
    </style>
    <div class="col-md-12">
        <h2 class="mt-2 mb-4">Квартиры</h2>

        <button type="button" id="create_apartment_action"
                class="btn btn-dark btn-sm float-start mb-3 mr-3"
                data-form-url="{% url 'create_apartment' %}"><i class="bi-plus-circle"></i> Создать
        </button>

        <button type="button" id="create_apartment_action"
                class="btn btn-dark btn-sm mx-2"><i class="bi-arrow-left-right"></i> Сравнить
        </button>

        <button type="button" id="set_visibility"
                class="btn btn-dark btn-sm float-end">
            <i class="bi-eye"></i> Видимость
        </button>

        <button type="button" id="set_filters"
                class="btn btn-dark btn-sm float-end mx-2">
            <i class="fa fa-filter"></i> Фильтры
        </button>

        <button type="button" id="set_order"
                class="btn btn-dark btn-sm float-end">
            <i class="bi-arrow-down-up"></i> Сортировка
        </button>



        {% render_table table %}
    </div>
{% endblock content %}