{% load widget_tweaks %}

<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title"> Видимость колонок</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
      <p>safdsfdsfsf</p>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-success">Ок</button>
  </div>

</form>