{% load widget_tweaks %}
<style>
    .modal-dialog {
        height: 90%; /* = 90% of the .modal-backdrop block = %90 of the screen */
    }

    .modal-content {
        height: 100%;
        border-radius: 0;
        position: relative;
    }


    .modal-footer {
        border-radius: 0;
        bottom: 0px;
        position: absolute;
        width: 100%;
    }

    .inputs {
        display: flex;
        justify-content: space-between;
    }
</style>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}


    <div class="modal-header">
        <h4 class="modal-title"><i class="bi-house-fill"></i> Создать квартиру</h4>
    </div>

    <div class="information_tabs">
        <ul class="nav nav-pills nav-fill" id="create_info" role="tablist">
            <li class="nav-item btn-dark" role="presentation">
                <a class="nav-link active text-white"
                   href="#building_info"
                   data-toggle="tab"
                   data-target="#building_info_details"
                   id="building_tab"
                   aria-controls="building_info_details"
                   aria-selected="true">
                    <i class="bi-building"></i> Здание
                </a>
            </li>
            <li class="nav-item btn-dark" role="presentation">
                <a class="nav-link text-white"
                   href="#room_info"
                   data-toggle="tab"
                   id="room"
                   data-target="#room_details"
                   aria-controls="room"
                   aria-selected="false">
                    <i class="bi-lamp"></i> Помещение
                </a>
            </li>
            <li class="nav-item btn-dark" role="presentation">
                <a class="nav-link text-white"
                   href="#price_info"
                   data-toggle="tab"
                   id="price_info"
                   data-target="#price_info_details"
                   aria-controls="price_info"
                   aria-selected="false">
                    <i class="bi-cash-coin"></i> Цены
                </a>
            </li>
            <li class="nav-item btn-dark" role="presentation">
                <a class="nav-link text-white"
                   href="#features_info"
                   data-toggle="tab"
                   id="features_info"
                   data-target="#features_info_details"
                   aria-controls="features_info"
                   aria-selected="false">
                    <i class="bi-cup-fill"></i> Особенности
                </a>
            </li>
            <li class="nav-item btn-dark" role="presentation">
                <a class="nav-link text-white"
                   href="#deal_info"
                   data-toggle="tab"
                   id="features_info"
                   data-target="#deal_info_details"
                   aria-controls="deal_info"
                   aria-selected="false">
                    <i class="bi-card-text"></i> Сделка
                </a>
            </li>
            <li class="nav-item btn-dark" role="presentation">
                <a class="nav-link text-white"
                   href="#deadlines_info"
                   data-toggle="tab"
                   id="deadline_info"
                   data-target="#deadlines_details"
                   aria-controls="deal_info"
                   aria-selected="false">
                    <i class="bi-calendar"></i> Сроки
                </a>
            </li>
        </ul>
    </div>

    <div class="modal-body">

        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>

        <div class="tab-content" id="main-content">
            <div class="tab-pane fade show active"
                 id="building_info_details"
                 role="tabpanel"
                 aria-labelledby="building_tab">
                <label for="developer" class="form-label mt-1">Застройщик</label>
                {{ form.developer }}

                <label for="residential_complex" class="form-label mt-1">ЖК</label>
                {{ form.residential_complex }}
                <label for="queue_number" class="form-label mt-1">Очередь</label>
                {{ form.queue_number }}
                <label for="corpus" class="form-label mt-1">Корпус</label>
                {{ form.corpus }}
                <label for="section" class="form-label mt-1">Секция</label>
                {{ form.section }}

                <label for="floor" class="form-label mt-2">Этаж</label>
                {{ form.floor }}
                <label for="floor_overall" class="form-label mt-1">Этажность</label>
                {{ form.floor_overall }}

                <label for="adversary_source" class="form-label mt-1">Источник</label>
                {{ form.adversary_source }}

            </div>

            <div class="tab-pane fade"
                 id="price_info_details"
                 role="tabpanel"
                 aria-labelledby="price_info"
            >

                <label for="commission" class="form-label mt-1">Комиссия</label>
                {{ form.commission }}


                <label for="contract_price" class="form-label">Цена в договоре</label>
                {{ form.contract_price }}

                <label for="deal_price" class="form-label">Цена сделки</label>
                {{ form.deal_price }}

                <label for="base_price" class="form-label">Цена рыночная</label>
                {{ form.base_price }}

                <label for="full_sum_in_contract" class="form-label mt-2">Полная сумма</label>
                {{ form.full_sum_in_contract }}

                <label for="fact_price_on_hand" class="form-label mt-2">Цена на руки</label>
                {{ form.fact_price_on_hands }}

                <label for="concession" class="form-label mt-2">Уступка</label>
                {{ form.concession }}

                <label for="remainder" class="form-label mt-2">Остаток</label>
                {{ form.remainder }}
            </div>

            <div class="tab-pane fade"
                 id="room_details"
                 role="tabpanel"
                 aria-labelledby="room">

                <label for="number_of_rooms" class="form-label">Кол-во комнат</label>
                {{ form.number_of_rooms }}
                <label for="area" class="form-label mt-1">Площадь, м<sup>2</sup></label>
                {{ form.area }}
                <label for="kitchen" class="form-label mt-1">Кухня, м<sup>2</sup></label>
                {{ form.kitchen }}
                <label for="internal_number" class="form-label mt-1">Внутренний номер</label>
                {{ form.internal_number }}

                <label for="mortgage_fit" class="form-label mt-1">Ипотека</label>
                {{ form.mortgage_fit }}
                <label for="seller_payed_for_mortgage" class="form-label mt-1">Погашение ипотеки</label>
                {{ form.seller_payed_for_mortgage }}

                <label for="photo" class="form-label mt-1">{{ form.photo.label }}</label>
                {{ form.photo }}
                {{ form.photo.image }}
                <label for="plan" class="form-label mt-1">План</label>
                {{ form.plan }}
                {{ form.plan.image }}


            </div>

            <div class="tab-pane fade"
                 id="features_info_details"
                 role="tabpanel"
                 aria-labelledby="price_info">


                <div class="form-check form-switch">
                    <ul class="list-unstyled">
                        {% for field in form.features %}
                            <li>
                                <input type="checkbox"
                                       class="form-check-input"
                                       id={{ field.id_for_label }}
                                               value={{ field.value }}>
                                <label for={{ field.id_for_label }}>
                                    {{ field.choice_label }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>


            </div>

            <div class="tab-pane fade"
                 id="deal_info_details"
                 role="tabpanel"
                 aria-labelledby="deal_info">

                <label for="contract_type" class="form-label">Тип договора</label>
                {{ form.contract_type }}
                <label for="bank" class="form-label mt-1">Банк (обременение)</label>
                {{ form.bank }}
                <label for="merchant" class="form-label mt-1">Продавец</label>
                {{ form.merchant }}
                <label for="compensation_payer" class="form-label mt-1">Компенсация</label>
                {{ form.compensation_payer }}
                <label for="works_with_agent" class="form-label mt-1">Агент</label>
                {{ form.works_with_agent }}
                <label for="sub_agent_commission" class="form-label mt-1">Комиссия субагенту</label>
                {{ form.sub_agent_commission }}
                <label for="documents" class="form-label mt-1">Документы</label>
                {{ form.documents }}
                <label for="goal" class="form-label mt-1">Цель продажи</label>
                {{ form.goal }}

            </div>

            <div class="tab-pane fade"
                 id="deadlines_details"
                 role="tabpanel"
                 aria-labelledby="deadlines_info">
                <style>#id_deadline, #id_actualization_date, #id_start_sale_date {
                    display: block;
                }</style>
                <label for="id_start_sale_date" class="form-label">Дата начала продажи</label>
                {{ form.start_sale_date }}
                <label for="id_deadline" class="form-label mt-1">Срок сдачи</label>
                {{ form.deadline }}
                <label for="id_actualization_date" class="form-label mt-1">Дата актуализации</label>
                {{ form.actualization_date }}
                <label for="id_actualization_date" class="form-label mt-1">Создатель</label>
                {{ form.creator }}


            </div>
        </div>

        <div class="{% if field.errors %} invalid{% endif %}">
            {% for error in field.errors %}
                <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="modal-footer">

        <div class="{% if field.errors %} invalid{% endif %}">
            {% for error in field.errors %}
                <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>

        <button type="button" class="btn btn-dark close" data-dismiss="modal" aria-label="Close">
            <i class="bi-door-closed"></i> Закрыть
        </button>
        <button type="submit" class="btn btn-primary">
            <i class="bi-plus-circle"></i> Изменить
        </button>

    </div>

</form>
