<button type="button"
        class="read_modal_action btn btn-dark btn-sm"
        data-form-url="{% url 'apartment_info' record.id %}"><i class="bi-eye"></i>
</button>
<button type="button"
        class="update_modal_action btn btn-dark btn-sm"
        data-form-url="{% url 'edit_apartment' record.id %}"><i class="bi-pencil"></i>
</button>
<button type="button"
        class="delete_modal_action btn btn-dark btn-sm"
        data-form-url="{% url 'delete_apartment' record.id %}"><i class="bi-trash"></i>
</button>
<button type="button"
        class="add_to_favorite btn btn-dark btn-sm"
        data-form-url="{% url 'apartment_info' record.id %}"><i class="bi-star-fill"></i>
</button>