{% extends "base.html" %}
{#{%  block title %}  {% endblock title %}#}
{% block content %}

    <div class="col-md-7 col-lg-8">

        <h3 class="mb-3 text-success">Добавление нового застройщика</h3>
        <form class="post-form" action="/add_developer_record" method="POST">
            {% csrf_token %}
            <div class="row g-3">
                <button class="w-100 btn btn-success btn-lg" type="submit">Добавить застройщика</button>

                <div class="col-sm-6">
                    <label for="fullname" class="form-label text-success">Полное имя</label>
                    {{ form.full_name }}
                    <small id="fullNameHelp" class="form-text text-muted">Полное наименование застройщика</small>
                </div>

                <div class="col-sm-6">
                    <label for="shortname" class="form-label text-success">Краткое имя</label>
                    {{ form.short_name }}
                    <small id="shortNameHelp" class="form-text text-muted">Краткое наименование застройщика</small>
                </div>


                <hr class="my-4">

                <div class="col-sm-12">
                    <label for="legaladdr" class="form-label text-success">Юридический адрес</label>
                    {{ form.legal_address }}
                    <small id="legaladdrHelp" class="form-text text-muted">Юридический адрес застройщика</small>
                </div>

                <div class="col-sm-12">
                    <label for="factaddr" class="form-label text-success">Фактический адрес</label>
                    {{ form.fact_address }}
                    <small id="factaddrHelp" class="form-text text-muted">Фактический адрес застройщика</small>
                </div>

                <div class="col-sm-4">
                    <label for="developerInn" class="form-label text-success">ИНН</label>
                    {{ form.inn }}
                    <small id="developerInnHelp" class="form-text text-muted">12-14 символов</small>
                </div>
                <div class="col-sm-4">
                    <label for="developerKpp" class="form-label text-success">КПП</label>
                    {{ form.kpp }}
                    <small id="kppHelp" class="form-text text-muted">10 символов</small>
                </div>
                <div class="col-sm-4">
                    <label for="developerOgrn" class="form-label text-success">ОГРН</label>
                    {{ form.ogrn }}
                    <small id="ogrnHelp" class="form-text text-muted">9 символов</small>
                </div>

                <hr class="my-4">

                <div class="col-sm-6">
                    <label for="director" class="form-label text-success">Руководитель</label>
                    {{ form.director }}
                    <small id="directorHelp" class="form-text text-muted">ФИО руководителя</small>
                </div>

                <div class="col-sm-6">
                    <label for="phoneNumber" class="form-label text-success">Номер телефона</label>
                    {{ form.phone_number }}
                    <small id="phoneHelp" class="form-text text-muted">Контактный телефон</small>
                </div>

                <div class="col-sm-6">
                    <label for="webSite" class="form-label text-success">Веб-сайт</label>
                    {{ form.web_site }}
                    <small id="websiteHelp" class="form-text text-muted">Веб-сайт</small>
                </div>

                <div class="col-sm-6">
                    <label for="devemail" class="form-label text-success">Электронная почта</label>
                    {{ form.e_mail }}
                    <small id="emailHelp" class="form-text text-muted">Email для связи</small>
                </div>

                <hr class="my-4">

                <div class="col-sm-6">
                    <label for="objdone" class="form-label text-success">Объектов сдано</label>
                    {{ form.objects_done }}
                    <small id="doneHelp" class="form-text text-muted">Завершено объектов</small>
                </div>

                <div class="col-sm-6">
                    <label for="objprogress" class="form-label text-success">Объектов в процессе</label>
                    {{ form.objects_progress }}
                    <small id="objprogressHelp" class="form-text text-muted">Сколько объектов строится</small>
                </div>
        </form>
    </div>

{% endblock content %}