{% extends "base.html" %}
{% block content %}

    <h2 class="mt-2 mb-4">Застройщики</h2>

    <div class="col-md-12">

        <button type="button" id="create_developer_action"
                class="btn btn-success btn-sm"
                data-form-url="{% url 'create_developer' %}"><i class="bi-plus-circle"></i> Создать
        </button>

        <div class="table-responsive">
            <table id="developers" class="display table table-light"
                   width="100%">
                <thead>

                {#                    <th><input type="checkbox" id="checkall"/></th>#}
                <th>ID</th>
                {#                <th>Полное имя</th>#}
                <th>Краткое имя</th>
                {#  <th>Юр. адрес</th> #}
                {#                <th>Факт. адрес</th>#}
                {#                <th>ИНН</th>#}
                {#                <th>КПП</th>#}
                {#                <th>ОГРН</th>#}
                {#                <th>Руководитель</th>#}
                {#                <th>Телефон</th>#}
                {#                <th>Сайт</th>#}
                {#                <th>Эл. почта</th>#}
                {#                <th>Объектов сдано</th>#}
                {#                <th>Объектов в процессе</th>#}
                <th>Активность</th>
                <th>Дата создания</th>
                <th>Операции</th>


                </thead>

                <tbody>

                {% for developer in developers %}
                    <tr>
                        {#                            <td><input type="checkbox" class="checkthis"/></td>#}
                        <td>{{ developer.id }}</td>
                        {#                        <td>{{ developer.full_name }}</td>#}
                        <td>{{ developer.short_name }}</td>
                        {#                        <td>{{ developer.legal_address }}</td>#}
                        {#                        <td>{{ developer.fact_address }}</td>#}
                        {#                        <td>{{ developer.inn }}</td>#}
                        {#                        <td>{{ developer.kpp }}</td>#}
                        {#                        <td>{{ developer.ogrn }}</td>#}
                        {#                        <td>{{ developer.director }}</td>#}
                        {#                        <td>{{ developer.phone_number }}</td>#}
                        {#                        <td>{{ developer.web_site }}</td>#}
                        {#                        <td>{{ developer.e_mail }}</td>#}
                        {#                        <td>{{ developer.objects_done }}</td>#}
                        {#                        <td>{{ developer.objects_progress }}</td>#}
                        <td>{{ developer.active }}</td>
                        <td>{{ developer.created }}</td>
                        <td>
                            <button type="button"
                                    class="update_modal_action btn btn-success btn-sm"
                                    data-form-url="{% url 'edit_developer' developer.pk %}"><i class="bi-pencil"></i></button>
                            <button type="button"
                                    class="delete_modal_action btn btn-dark btn-sm"
                                    data-form-url="{% url 'delete_developer' developer.pk %}"><i class="bi-trash"></i>
                            </button>
                        </td>

                    </tr>
                {% endfor %}

                </tbody>

            </table>
        </div>

    </div>
{% endblock content %}
