{% extends "base.html" %}
{% block content %}

    <div class="col-md-7 col-lg-8">

        <h3 class="mb-3 text-success">Добавление нового клиента</h3>
        <form class="post-form" action="/add_person" method="POST">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col-sm-4">
                    <label for="first_name" class="form-label text-success">Имя</label>
                    {{ form.first_name }}
                    <small id="firstnameHelp" class="form-text text-muted">Имя клиента</small>
                </div>
                <div class="col-sm-4">
                    <label for="last_name" class="form-label text-success">Фамилия</label>
                    {{ form.last_name }}
                    <small id="lastnameHelp" class="form-text text-muted">Фамилия клиента</small>
                </div>
                <div class="col-sm-4">
                    <label for="middle_name" class="form-label text-success">Отчество</label>
                    {{ form.middle_name }}
                    <small id="lmiddle_nameHelp" class="form-text text-muted">Отчество клиента</small>
                </div>
                <div class="col-sm-12">
                    <label for="phone_number" class="form-label text-success">Контактный телефон</label>
                    {{ form.phone_number }}
                    <small id="developerHelp" class="form-text text-muted">Контактный телефон</small>
                </div>
                <hr class="my-4">
                <button class="w-100 btn btn-success btn-lg" type="submit">Добавить клиента</button>
            </div>
        </form>
    </div>

{% endblock content %}