{% extends "base.html" %}
{% block content %}
    <div class="col-md-12">
        <h2 class="mt-2 mb-4">Клиенты</h2>

        <button type="button" id="create_person_action"
                class="btn btn-success btn-sm"
                data-form-url="{% url 'create_person' %}"><i class="bi-plus-circle"></i> Создать
        </button>

        <div class="table-responsive">
            <table id="persons" class="display table table-light" width="100%">
                <thead>

                <th><input type="checkbox" id="checkall"/></th>
                <th>ID</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Контактный телефон</th>
                <th>Дата создания</th>
                <th>Операции</th>

                </thead>

                <tbody>

                {% for person in persons %}
                    <tr>
                        <td><input type="checkbox" class="checkthis"/></td>
                        <td>{{ person.id }}</td>
                        <td>{{ person.last_name }}</td>
                        <td>{{ person.first_name }}</td>
                        <td>{{ person.middle_name }}</td>
                        <td>{{ person.phone_number }}</td>
                        <td>{{ person.created }}</td>
                        <td>
                            <button type="button"
                                    class="update_modal_action btn btn-success btn-sm"
                                    data-form-url="{% url 'edit_person' person.pk %}"><i class="bi-pencil"></i>
                            </button>
                            <button type="button"
                                    class="delete_modal_action btn btn-dark btn-sm"
                                    data-form-url="{% url 'delete_person' person.pk %}"><i class="bi-trash"></i>
                            </button>
                        </td>

                    </tr>
                {% endfor %}

                </tbody>

            </table>
        </div>
    </div>
{% endblock content %}