{% extends "base.html" %}
{% block content %}

    <div class="col-md-7 col-lg-8">

        <h3 class="mb-3 text-success">Добавление новой особенности</h3>
        <form class="post-form" action="/add_feature" method="POST">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col-sm-6">
                    <label for="feature_name" class="form-label text-success">Наименование</label>
                    {{ form.feature_name }}
                    <small id="nameHelp" class="form-text text-muted">Наименование особенности</small>
                </div>
                <hr class="my-4">
                <button class="w-100 btn btn-success btn-lg" type="submit">Добавить особенность</button>
            </div>
        </form>
    </div>

{% endblock content %}