{% extends "base.html" %}
{% block content %}

    <h2 class="mt-2 mb-4">Ключевые особенности</h2>



    <div class="col-md-12">
        <button type="button"   id="create_feature_action"
                                    class="btn btn-success btn-sm"
                                    data-form-url="{% url 'create_feature' %}"><i class="bi-plus-circle"></i>   Создать</button>
        <div class="table-responsive">
            <table id="features" class="display table table-light"
                   width="100%">
                <thead class="thead-dark">
                <th scope="col">ID</th>
                <th scope="col">Наименование</th>
                <th scope="col">Создано</th>
                <th scope="col">Активно</th>
                <th scope="col">Операции</th>
                </thead>

                <tbody>

                {% for feature in features %}
                    <tr>
                        {#                            <td><input type="checkbox" class="checkthis"/></td>#}

                        <td>{{ feature.id }}</td>
                        <td>{{ feature.feature_name }}</td>
                        <td>{{ feature.created }}</td>
                        <td>{{ feature.active }}</td>
                        <td>
                            <button type="button"
                                    class="update_modal_action btn btn-success btn-sm"
                                    data-form-url="{% url 'edit_feature' feature.pk %}"><i class="bi-pencil"></i></button>
                            <button type="button"
                                    class="delete_modal_action btn btn-dark btn-sm"
                                    data-form-url="{% url 'delete_feature' feature.pk %}"><i class="bi-trash"></i>
                            </button>
                        </td>

                    </tr>
                {% endfor %}

                </tbody>

            </table>


        </div>

    </div>
{% endblock content %}