{% extends "base.html" %}
{% block content %}

    <div class="col-md-7 col-lg-8">

        <h3 class="mb-3 text-success">Добавление нового жилого комплекса</h3>
        <form class="post-form" action="/add_residential_complex" method="POST">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col-sm-12">
                    <label for="name" class="form-label text-success">Наименование</label>
                    {{ form.complex_name }}
                    <small id="fullNameHelp" class="form-text text-muted">Наименование жилого комплекса</small>
                </div>
                <div class="col-sm-12">
                    <label for="developer" class="form-label text-success">Застройщик</label>
                    {{ form.developer }}
                    <small id="developerHelp" class="form-text text-muted">Наименование застройщика</small>
                </div>
                <hr class="my-4">
                <button class="w-100 btn btn-success btn-lg" type="submit">Добавить жилой комплекс</button>
            </div>
        </form>
    </div>

{% endblock content %}