<!DOCTYPE html>
<html lang="en">
<head>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <style>
        input, select {
            width: 100%
        }
    </style>

</head>
<body>
<form id="create_rc" method="post" action="/add_residential_complex">
    {% csrf_token %}

    <div class="modal-header bg-gradient bg-success"><h5 class="modal-title text-white">Новый жилой комплекс</h5></div>

    <div class="modal-body g-3 row">

        <div class="col-sm-12">
            <label for="name" class="form-label text-success">Наименование</label>
            {{ form.complex_name }}
        </div>
        <div class="col-sm-12">
            <label for="developer" class="form-label text-success">Застройщик</label>
            {{ form.developer }}
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn bg-black text-white" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn bg-success text-white">Создать</button>
    </div>

</form>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js">
        $('#id_developer').select2({
        dropdownParent: $('#create-modal')
    });
</script>


</body>

</html>