{% extends "base.html" %}

{% block content %}

    <h2 class="mt-2 mb-4">Жилые Комплексы</h2>

    <div class="col-md-12">

        <button type="button" id="create_residential_complex_action"
                class="btn btn-success btn-sm"
                data-form-url="{% url 'create_rc' %}"><i class="bi-plus-circle"></i> Создать
        </button>


        <div class="table-responsive">
            <table id="residential_complexes"
                   class="display table table-light"
                   width="100%">
                <thead>

                {#                    <th><input type="checkbox" id="checkall"/></th>#}
                <th scope="col">ID</th>
                <th scope="col">Название</th>
                <th scope="col">Застройщик</th>
                <th scope="col">Создано</th>
                <th scope="col">Операции</th>

                </thead>

                <tbody>

                {% for residential_complex in residential_complexes %}
                    <tr>
                        {#                            <td><input type="checkbox" class="checkthis"/></td>#}
                        <td>{{ residential_complex.id }}</td>
                        <td>{{ residential_complex.complex_name }}</td>
                        <td> {{ residential_complex.developer.short_name }}</td>
                        <td>{{ residential_complex.created }}</td>
                        <td>
                            <button type="button"
                                    class="update_modal_action btn btn-success btn-sm"
                                    data-form-url="{% url 'edit_rc' residential_complex.pk %}"><i class="bi-pencil"></i>
                            </button>
                            <button type="button"
                                    class="delete_modal_action btn btn-dark btn-sm"
                                    data-form-url="{% url 'delete_rc' residential_complex.pk %}"><i class="bi-trash"></i>
                            </button>
                        </td>

                    </tr>
                {% endfor %}

                </tbody>

            </table>
        </div>
    </div>

{% endblock content %}