<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs5/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/cr-1.5.4/date-1.1.1/fc-4.0.0/fh-3.2.0/kt-2.6.4/r-2.2.9/sp-1.4.0/sl-1.3.3/datatables.min.css"/>

    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs5/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/cr-1.5.4/date-1.1.1/fc-4.0.0/fh-3.2.0/kt-2.6.4/r-2.2.9/sp-1.4.0/sl-1.3.3/datatables.min.js"></script>
    <script src="http://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    {% load static %}
    <link rel="stylesheet" href={% static "assets_forms/fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}>
    <!-- Vendor CSS Files -->

    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <script src="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css"></script>
    {#    <link rel="stylesheet" href="{% static 'assets_forms/css/bootstrap.min.css' %}">#}
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

    <style>
        .select2-container.select2-container--default.select2-container--open {
            z-index: 5000;

        }
    </style>


</head>
<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

{#{% include "references/residential_complexes/modal_add_residential_complex.html" %}#}

<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope-fill"></i><a href="mailto:contact@example.com">flestreyd@gmail.com</a>
            <i class="bi bi-phone-fill phone-icon"></i> +7 (931) 36-46-426
        </div>
        <div class="social-links d-none d-md-block">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
        </div>
    </div>
</section>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="#">Уступки</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li class="dropdown active"><a href="#"><span>Заявки</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/features">Добавление квартиры в базу</a></li>
                        <li><a href="/developers">Подбор квартиры</a></li>
                    </ul>
                </li>

                <li><a class="nav-link scrollto" href="/apartments">Квартиры</a></li>
                <li><a class="nav-link scrollto" href="/deals">Сделки</a></li>


                <li class="dropdown"><a href="#"><span>Справочники</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/features">Особенности</a></li>
                        <li><a href="/developers">Застройщики</a></li>
                        <li><a href="/residential_complexes">Жилые комплексы</a></li>
                        <li><a href="/banks">Банки</a></li>
                        <li><a href="/persons">Клиенты</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#"><span>Регистрация</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/registration/login">Вход</a></li>
                        <li><a href="/signup">Регистрация</a></li>
                    </ul>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

{% block hero %} {% endblock hero %}

<div class="modal fade" role="dialog" id="create_modal_form">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="tabs" id="tab01">
                <h6 class="text-muted">Информация о здании</h6>
            </div>
            <div class="tabs active" id="tab02">
                <h6 class="font-weight-bold">Цена</h6>
            </div>
            <div class="tabs" id="tab03">
                <h6 class="text-muted">Метраж</h6>
            </div>
            <div class="tabs" id="tab04">
                <h6 class="text-muted">Дополнительно</h6>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" role="dialog" id="update_modal_form">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<main id="main">

    <div class="container">

        <div class="row">
            {% block menuheader %}{% endblock %}
            {% block content %} {% endblock %}
        </div>
    </div>

    <script src="{% static 'assets_forms/js/jquery-3.2.1.min.js' %}">
        $(document).ready(function () {
            $('.datepicker').datepicker();
        });
    </script>


    <script src="{% static 'assets_forms/js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script>src = "https://cdn.datatables.net/buttons/2.0.1/js/buttons.colVis.min.js"</script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{% static 'main.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>




    <script type="text/javascript">


        $(function () {
            //datatables


            // CRUD functions for references modal forms
            // create functions

            $("#create_residential_complex_action").modalForm({
                formURL: "{% url 'create_rc' %}",
                modalID: "#create_modal_form"
            });

            $("#create_feature_action").modalForm({
                formURL: "{% url 'create_feature' %}",
                modalID: "#create_modal_form"
            });

            $("#create_apartment_action").modalForm({
                formURL: "{% url 'create_apartment' %}",
                modalID: "#create_modal_form"
            });

            $("#create_bank_action").modalForm({
                formURL: "{% url 'create_bank' %}",
                modalID: "#create_modal_form"
            });

            $("#create_developer_action").modalForm({
                formURL: "{% url 'create_developer' %}",
                modalID: "#create_modal_form"
            });

            $("#create_person_action").modalForm({
                formURL: "{% url 'create_person' %}",
                modalID: "#create_modal_form"
            });

            // update functions

            $(".update_modal_action").each(
                function () {
                    $(this).modalForm({
                        formURL: $(this).data("form-url"),
                        modalID: "#update_modal_form"
                    })
                }
            )

            // read

            $(".read_modal_action").each(
                function () {
                    $(this).modalForm({
                        formURL: $(this).data("form-url"),
                        modalID: "#modal"
                    })
                }
            )

            // delete functions

            $(".delete_modal_action").each(
                function () {
                    $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
                }
            )

            $(".alert").fadeTo(2000, 500).slideUp(500, function () {
                $(".alert").slideUp(500);
            });

        })


    </script>


</body>
</html>